@model IEnumerable<NewHackhaThon.Models.Students>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Список студентов</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="filterBar">
            <div class="searchBar">
                <span>Поиск по имени:</span>
                <input type="text" class="myCustomInput" name="SearchString" value="@ViewData["currentFilter"]" />
                <a class="myCustomLink" asp-action="Index">Поиск</a>
            </div>
            <a class="myCustomLink" asp-action="Index">Назад</a>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>

            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Student_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Student_Summ)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Student_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Student_Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Student_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Student_Surname)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Student_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Student_College)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Student_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Student_City)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Student_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Student_Specialty)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CourseSortParm"]">@Html.DisplayNameFor(model => model.Student_Course)</a>
            </th>
            <th>
                &nbsp;
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Summ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_College)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Specialty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student_Course)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentsId">Редактировать</a> <br />
                <a asp-action="Delete" asp-route-id="@item.StudentsId">Удалить</a>
            </td>
            <td><a asp-action="About" asp-route-id="@item.StudentsId">Подробнее</a></td>
        </tr>
        }
    </tbody>
</table>
