@model NewHackhaThon.Models.Pupils

@{
    ViewData["Title"] = "About";
}

    <h1>Профиль</h1>

    <div>
        <h4> @Html.DisplayFor(model => model.Pupils_Name)   @Html.DisplayFor(model => model.Pupils_Surname)</h4>

        <hr />

        <dl class="row userInfo">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pupils_Summ)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pupils_Summ)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pupils_Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pupils_Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pupils_Surname)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pupils_Surname)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pupils_School)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pupils_School)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pupils_Class)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pupils_Class)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Pupils_City)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pupils_City)
            </dd>

        </dl>
        <div>
            <img src="~/css/chart_2.png" />
        </div>
    </div>
<footer>
    <h2>Пройденные тесты</h2>

    <style>
        .search-form {
            display: flex;
            flex-direction: row;
            justify-content: normal;
            align-items: center;
        }

            .search-form p {
                font-size: 24px;
                margin-right: 15px;
            }

            .search-form input {
                margin-right: 15px;
                margin-bottom: 6px;
            }

            .search-form button {
                margin-right: 15px;
                margin-bottom: 6px;
            }

        .image-block {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

            .image-block img {
                transform: scale(1.1);
            }
    </style>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <text>Дисциплина</text>
                </th>
                <th>
                    <text>Тема теста</text>
                </th>
                <th>
                    <text>Проводящая организация</text>
                </th>
                <th>
                    <text>Результат</text>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <text>Русский язык</text>
                </td>
                <td>
                    <text>Сочинение на свободную тему</text>
                </td>
                <td>
                    <text>Региональное тестирование</text>
                </td>
                <td>
                    <text>81</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Математика</text>
                </td>
                <td>
                    <text>Теорема Виета</text>
                </td>
                <td>
                    <text>Школа №9</text>
                </td>
                <td>
                    <text>63</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Русский язык</text>
                </td>
                <td>
                    <text>Подготовительный тест к ОГЭ</text>
                </td>
                <td>
                    <text>Школа №25</text>
                </td>
                <td>
                    <text>93</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Физика</text>
                </td>
                <td>
                    <text>Общий тест</text>
                </td>
                <td>
                    <text>ДИТИ НИЯУ МИФИ</text>
                </td>
                <td>
                    <text>77</text>
                </td>
            </tr>
            <tr>
                <td>
                    <text>Литература</text>
                </td>
                <td>
                    <text>Война и Мир</text>
                </td>
                <td>
                    <text>Школа №6</text>
                </td>
                <td>
                    <text>59</text>
                </td>
            </tr>
        </tbody>
    </table>
    </footer>
<div>

    <a class="myCustomLink" asp-action="Index">Назад</a>
</div>









