@model IEnumerable<NewHackhaThon.Models.Pupils>

@{
    ViewData["Title"] = "Index";
}

<h1 class="title">Список школьников</h1>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">

        <div class="filterBar">
            <div class="searchBar">
                <span>Поиск по имени:</span>
                <input type="text" class="myCustomInput" name="SearchString" value="@ViewData["currentFilter"]" />
                <a class="myCustomLink" asp-action="Index">Поиск</a>
            </div>
            <a class="myCustomLink" asp-action="Index">Назад</a>
        </div>

    </div>
</form>
<table class="table">
    <thead>

        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Name_SortParm"]">@Html.DisplayNameFor(model => model.Pupils_Summ)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Name_SortParm"]">@Html.DisplayNameFor(model => model.Pupils_Name)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Pupils_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Pupils_Surname)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Pupils_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Pupils_School)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Pupils_SurnameSortParm"]">@Html.DisplayNameFor(model => model.Pupils_Class)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["Pupils_CityParm"]">@Html.DisplayNameFor(model => model.Pupils_City)</a>
            </th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Pupils_Summ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pupils_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pupils_Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pupils_School)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pupils_Class)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pupils_City)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PupilsId">Редактировать</a><br />
                    <a asp-action="Delete" asp-route-id="@item.PupilsId">Удалить</a>
                <td />
                <td>
                    <a asp-action="About" asp-route-id="@item.PupilsId">Подробнее</a>
                </td>
            </tr>
        }
    </tbody>
</table>
